<h5> <%= @post.title %> by <%= @post.author %> </h5>

<p>
  <%= @post.body %>
</p>

Add a comment: 
<%= form_for(@comment) do |f| %>
    <%= f.label :author %>
    <%= f.text_field :author%>
    <%= hidden_field_tag :post_id, @post.id %>
    <%= f.label :body %>
    <%= f.text_area :body %>
    <%= f.submit %>
<% end %>